.tab-wrapper {
    .react-tabs__tab-list {
        border-bottom: 0;
        display: flex;
        .react-tabs__tab {
            border: 2px solid transparent;
            &:focus {
                box-shadow: none;
            }
            &.react-tabs__tab--selected {
                border-bottom: 2px solid #1eacb2;
            }
        }
    }
}
.comment-box-wrapper {
    background-color: aliceblue;
    padding: 15px;
    margin-bottom: 10px;
    position: relative;
    &:before {
        content: '';
        display: block;
        border-left: 2px solid #ddd;
        height: 100%;
        position: absolute;
        left: -15px;
        top: 0;
    }
    &:after {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        left: -24px;
        top: 0;
        background-color: #ddd;
        position: absolute;
        border-radius: 50px;
    }
}
.profile-user-icon {
    width: 100%;
    max-width: 100px;
}
.previous-images {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.previous-images-icons {
    width: 100px;
    margin-bottom: 9px;
    box-shadow: 0px 0px 10px #00000078;
}
.counter {
    display: block;
    text-transform: capitalize;
    margin-top: 10px;
}
@media (max-width: 991px) {
    .tab-wrapper {
        .react-tabs__tab-list {
            .react-tabs__tab {
                padding: 6px 8px;
            }
        }
    }
}